@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.hero-image {
  background-image: linear-gradient(
      rgba(0, 137, 123, 0.5),
      rgba(0, 137, 123, 0.3)
    ),
    url("./assets/hero-bg.avif");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}
footer {
  background-image: linear-gradient(
      rgba(0, 137, 123, 0.5),
      rgba(0, 137, 123, 0.3)
    ),
    url("./assets/hero-bg.avif");
  background-size: cover;
  background-position: end;
}
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #4db6ac;
  border-radius: 4px;
}
.why-us-card {
  transition: all 0.3s ease;
}
.why-us-card:hover {
  background-color: #f7fafc;
  transform: scale(1.03);
}
.floating {
  animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

body {
  font-family: var(--font-body);
}
html {
  scroll-behavior: smooth;
}
@keyframes review {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.review {
  display: flex;
  gap: 1.5rem; /* Equivalent to Tailwind's gap-6 */
  animation: review 40s linear infinite;
}
